body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px; 
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .clase-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .clase-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .clase-item .clase-nombre {
    font-weight: bold;
  }
  
  .tareas-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tareas-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .tareas-item .tarea-titulo {
    font-weight: bold;
  }
  
  .tareas-item .tarea-calificacion {
    margin-top: 5px;
  }
  
  .tareas-item .tarea-calificacion input[type="text"] {
    width: 50px;
  }
  
  .tareas-item .tarea-calificacion input[type="submit"] {
    margin-left: 10px;
  }
  
  .mensaje {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .cerrar-sesion {
    text-align: right;
    margin-top: 20px;
  }
  
  .cerrar-sesion input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

  .home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #2980b9;
}